<div class="coontainer">
  <div class="input-container-edit">
    <h1 class="h1-resto">Edit</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input-container-edit">
        <label for="email" class="label">Email</label>
        <%= f.email_field :email, class: "form-control", id: "email" %>
        <div class="underline"></div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-container-edit">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control-edit" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="input-container-edit">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control-edit" %>
        <div class="underline-edit"></div>
      </div>

      <div class="input-container-edit">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control-edit" %>
        <div class="underline-edit"></div>
      </div>

      <div class="actions-edit">
        <%= f.submit "Update", class: "btn btn-edit" %>
      </div>
    <% end %>

    <h3 class="h3-edit">Cancel my account</h3>

    <div>
      <p class="p-edit"> Unhappy ? </p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btnnn btn-cancel" %>
    </div>
  </div>
  <%= link_to "Back", root_path, class: "btn btnnn-primary" %>
</div>
