<div class="coontainer">
  <h2 class="h2-sign">S'INSCRIRE</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ffield">
      <%= f.email_field :email, class: "input", placeholder: "Email", required: true %>
    </div>

    <div class="ffield pass_show">
      <%= f.password_field :password, class: "form-control", type: "password", placeholder: "New Password", autocomplete: "new-password" %>
    </div>

    <div class="ffield pass_show">
      <%= f.password_field :password_confirmation, class: "form-control", type: "password", placeholder: "Confirm Password", autocomplete: "new-password" %>
    </div>

    <div class="acctions">
      <%= f.submit "S'INSCRIRE" %>
    </div>
    <span class="p-log"> <%= link_to 'SE CONNECTER', new_user_session_path %> &nbsp comme client</span>
    <span class="p-log"> <%= link_to 'SE CONNECTER', new_admin_session_path %> &nbsp comme restaurateur</span>
  <% end %>
</div>

<script src="hide-password.js"></script>