<br>
<br>
<br>
<div class="coontainer">
  <div class="heading">SIGN UP</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ffield">

      <%= f.email_field :email, class: "input", placeholder: "E-mail", required: true %>
    </div>

    <div class="ffield">
    
      <%= f.password_field :password, class: "input", placeholder: "New Password", autocomplete: "new-password" %>
    </div>

    <div class="ffield">
    
      <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirm Password", autocomplete: "new-password" %>
    </div>

    <div class="acctions">
      <%= f.submit "SIGN UP" %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
 <br>
</div>
<br>
<br>
<center><%= render "devise/shared/links" %></center>
<br>
<br>
<br>
<br>
<br>
<br>
