<div class="coontainer">
  <h2>SIGN UP</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ffield">
      <%= f.text_field :first_name, class: "input", placeholder: "First name", required: true %>
    </div>

    <div class="ffield">
      <%= f.text_field :last_name, class: "input", placeholder: "Last name", required: true %>
    </div>

  
    <div class="ffield">
      <%= f.email_field :email, class: "input", placeholder: "Email", required: true %>
    </div>

    <div class="ffield">
      <%= f.password_field :password, class: "form-controle password", placeholder: "New Password", autocomplete: "new-password" %>
    </div>

    <div class="ffield">
      <%= f.password_field :password_confirmation, class: "form-controle password", placeholder: "Confirm Password", autocomplete: "new-password" %>
    </div>

    <div class="acctions">
      <%= f.submit "SIGN UP" %>
    </div>
    <span class="p-log"> <%= link_to 'LOG IN', new_user_session_path %> &nbsp as user</span>
    <span class="p-log"> <%= link_to 'LOG IN', new_admin_session_path %> &nbsp as admin</span>
  <% end %>
</div>