<h1 class="h1-resto"> BIENVENUE DANS VOTRE ESPACE PROFESSIONNEL </h1>

<div class="admin-prof">
      <div class="profile-card">
        <div class="photo-profil">
            <%= image_tag "Anelise.avif" , alt: "Photo de profil" %>
        </div>

        <div class="input-container-profile <%= 'active' if @admin.email.present? %>">
            <label for="input" class="label-profile">Email</label>
            <input type="text" id="input" required="" readonly value="<%= @admin.email %>">
            <div class="underline"></div>
        </div>

        <div class="btn-edit-container">
          <%= link_to 'Editer profil' , edit_admin_registration_path, class:"btn btn-edit" %>
        </div>
      </div>
  </div>
</div>

<div class="col-sm-12 col-12 col-md-4">
  <a href="<%= new_restaurant_path %>" class="card-clic">
    <div class="card border-secondary mb-4 card-index">
      <div class="card-body">
        <i class="far fa-plus-square text-center mt-3 mr-2 card-img-top" style="font-size: 100px; color: black"></i>
      </div>
      <div class="card-footer text-center">
        <%= link_to "AJOUTER MON RESTAURANT", new_restaurant_path, class:"btn btn-success-dark mx-1 my-1" %>
      </div>
    </div>
  </a>
</div>
 
<h3 class="h3-edit">RÉSERVATIONS DANS VOTRE ÉTABLISSEMENT</h3>

<% @reservations.each do |reservation| %>
  <p>Réservation par <%= reservation.user.email %> pour <%= reservation.number %> personnes, le <%= reservation.date.strftime("%d/%m/%Y") %> à <%= reservation.time.strftime("%H:%M") %></p>
  <%= button_to "Supprimer", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette réservation ?" }, class: "btn btn-danger" %>
<% end %>
