<h1 class="h1-resto"> Bienvenue dans votre espace ! </h1>

<div class="admin-prof">
      <div class="profile-card">
        <div class="photo-profil">
            <%= image_tag "Anelise.avif" , alt: "Photo de profil" %>
        </div>

        <div class="input-container-profile <%= 'active' if @admin.email.present? %>">
            <label for="input" class="label-profile">Email</label>
            <input type="text" id="input" required="" readonly value="<%= @admin.email %>">
            <div class="underline"></div>
        </div>

        <div class="btn-edit-container">
          <%= link_to 'Edition du profile' , edit_admin_registration_path, class:"btn btn-edit" %>
        </div>
      </div>
  </div>
</div>

<%= link_to 'MON DASHBOARD', admins_path %>


<h3 class="h3-edit">VOTRE MENU DU MOMENT</h3>




