<h1>Welcome to your profile <%= current_user.first_name %>
</h1>
<div class="box_profil">
    <div class="profile-card">
        <div class="photo-profil">
            <%= image_tag "Anelise.avif" , alt: "Photo de profil" %>
        </div>

        <div class="input-container <%= 'active' if @user.first_name.present? %>">
            <input type="text" id="input" required="" readonly value="<%= @user.first_name %>">
            <label for="input" class="label">First name</label>
            <div class="underline"></div>
        </div>

        <div class="input-container <%= 'active' if @user.last_name.present? %>">
            <input type="text" id="input" required="" readonly value="<%= @user.last_name %>">
            <label for="input" class="label">Last name</label>
            <div class="underline"></div>
        </div>

        <div class="input-container <%= 'active' if @user.city.present? %>">
            <input type="text" id="input" required="" readonly value="<%= @user.city %>">
            <label for="input" class="label">City</label>
            <div class="underline"></div>
        </div>

        <div class="input-container <%= 'active' if @user.email.present? %>">
            <input type="text" id="input" required="" readonly value="<%= @user.email %>">
            <label for="input" class="label">Email</label>
            <div class="underline"></div>
        </div>
        <div class="btn-edit-container">
            <%= link_to 'Edit profile' , edit_user_registration_path, class:"btn btn-edit" %>
        </div>
        
        </div>
        
        
                <div class="box_favoris">
                  <h1>Restaurant Favoris</h1>
                </div>

</div>

<h1>Your reservations</h1>
<h1>Your favorite restaurants</h1>