<div class="profile-page">
  <h1> WELCOME TO YOUR PROFILE <%= current_user.first_name %> </h1>
  <p> PHOTO AVATAR ADMIN </p>

<br>

  <%= link_to 'Edit profile', edit_user_registration_path, class:"btn btn-edit" %>

  <div class="input-container <%= 'active' if @user.first_name.present? %>">
    <input type="text" id="input" required="" readonly value="<%= current_user.first_name %>">
    <label for="input" class="label">First name</label>
    <div class="underline"></div>
  </div>

  <div class="input-container <%= 'active' if @user.last_name.present? %>" >
    <input type="text" id="input" required="" readonly value="<%= current_user.last_name %>">
    <label for="input" class="label">Last name</label>
    <div class="underline"></div>
  </div>

  <div class="input-container <%= 'active' if @user.city.present? %>" >
    <input type="text" id="input" required="" readonly value="<%= current_user.city %>">
    <label for="input" class="label">City</label>
    <div class="underline"></div>
  </div>

  <h1>Your reservations</h1>
  <h1>Your favorites restaurants</h1>
  
</div>

