<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<h3>Changer d avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>

<h1 class="h1-resto">BIENVENUE DANS VOTRE ESPACE CLIENT</h1>

<div class="box_profil">
    <div class="profile-card">
        <div class="photo-profil">
            <%= image_tag "Anelise.avif" , alt: "Photo de profil" %>
        </div>

        <div class="input-container-profile <%= 'active' if @user.email.present? %>">
            <label for="input" class="label-profile">Email</label>
            <input type="text" id="input" required="" readonly value="<%= @user.email %>">
            <div class="underline"></div>
        </div>
        <div class="btn-edit-container">
            <%= link_to 'Editer profil' , edit_user_registration_path, class:"btn btn-edit" %>
        </div>
    </div>
       
    <div class="box_favoris">
      <h1>Restaurants favoris</h1>

      <% if @user.favorites.present? %>
        <% @user.favorites.each do |favorite| %>
            <%= favorite.restaurant.restaurant_name %>
            <%= button_to "Supprimer", favorite_path(favorite), method: :delete %>
        <% end %>
      <% else %>
        <p>Vous n'avez pas encore ajouté de restaurants à vos favoris.</p>
      <% end %>
    </div>
</div>

<h1 class="h1-resto">Vos réservations</h1>
<% if @reservations.any? %>
  <ul>
    <% @reservations.each do |reservation| %>
      <li> Vous avez réservé chez <%= reservation.restaurant.restaurant_name %>, le <%= reservation.date.strftime("%d/%m/%Y") %> à <%= reservation.time.strftime("%H:%M") %> </li>
      <%= button_to "Supprimer", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette réservation ?" }, class: "btn btn-danger" %>
      

    <% end %>
  </ul>
<% else %>
  <p>Aucune réservation en cours</p>
<% end %>

