<div class="coontainer">
  <h2>FORGOT YOUR PASSWORD?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ffield">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Your email address" %>
    </div>

    <div class="acctions">
      <%= f.submit "Send me reset password instructions", class: "login-button" %>
    </div>
  <% end %>
</div>

<center><%= render "devise/shared/links" %></center>