<div class="coontainer">
  <h2 class="h2-sign">FORGOT PASSWORD</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ffield">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Your email address" %>
    </div>

    <div class="actions-pass">
      <%= f.submit "Send me reset password instructions", class: "pass-button" %>
    </div>
  <% end %>
  <p class="p-log"> Don't have an account ? &nbsp <%= link_to 'SIGN UP', new_user_registration_path %> &nbsp as user</p>

  <p class="p-log"> Or &nbsp <%= link_to 'SIGN UP', new_admin_registration_path %> &nbsp as admin</p>

</div>

