<div class="footer-middle">
  <div class="container-footer">

    <div class="middle-logo">
      <div class="logo-section">
        <%= image_tag "LOGO_transparent.png" %>
      </div>

      <br>

      <h4>
        <a class="cta-middle" href="">RESTAURATEUR?</a>
      </h4>
    </div>

      <br>

    <div class="row text-center"> 
      <div class="col-md-4 col-sm-6">
        <div class="footer-pad">
          <h5><a class="foot-link" href="/team">CONCEPT</a></h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="footer-pad">
          <h5><a class="foot-link" href="/contact">TEAM</a></h5>
        </div>
      </div>

    
      <div class="col-md-4 col-sm-6"> 
        <div class="footer-pad">
          <h5><a class="foot-link" href="/help">CONTACT US</a></h5>
        </div>
      </div>

    <div class="col-md-3">
        <div class="social-links">

          <%= link_to "https://instagram.com", target: "_blank", class: "social-link" do %>
            <%= image_tag "", width: "30", height: "30" %>
          <% end %>

          <%= link_to "https://facebook.com", target: "_blank", class: "social-link" do %>
            <%= image_tag "", width: "30", height: "30" %>
          <% end %>

          <%= link_to "https://twitter.com", target: "_blank", class: "social-link" do %>
            <%= image_tag "", width: "30", height: "30" %>
          <% end %>

          <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="https://www.facebook.com"> <i class="fa-brands fa-facebook"></i> </a>
            <a href="https://www.whatsapp.com"> <i class="fa-brands fa-whatsapp"></i> </a>
        </div>
      </div>
    
    <div class="row">
      <div class="col-md-12 copy text-center mx-auto">
        <p>&copy; THP - Hiver 2024</p>
      </div>
    </div>
  </div>
</div>