<div class="footer-middle">
  <div class="container-footer">

    <div class="middle-logo">
      <div class="logo-section">
        <%= image_tag "LOGO_transparent.png" %>
      </div>

      <br>

        <h4>
          <%= link_to 'RESTAURATEURS ?', new_admin_registration_path, class: "cta-middle" %>
        </h4>
    </div>

    <br>

    <div class="row links-to"> 
      <div class="col-md-4 col-sm-6 footer-link">
        <div class="footer-pad">
          <h5> <%= link_to 'CONCEPT', concept_path, class: "foot-link" %> </h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 footer-link">
        <div class="footer-pad">
          <h5> <%= link_to 'TEAM', team_path , class: "foot-link" %> </h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 footer-link"> 
        <div class="footer-pad">
          <h5> <%= link_to 'CONTACTEZ-NOUS', contact_path , class: "foot-link" %> </h5>
        </div>
      </div>
    </div>

    <br>

    <div class="social-icons">
      <div class="social-links">
        <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram fa-2x"></i> </a>
        <a href="https://www.facebook.com"> <i class="fa-brands fa-facebook fa-2x"></i> </a>
        <a href="https://twitter.com"> <i class="fa-brands fa-x-twitter fa-2x"></i> </a>
        <a href="https://play.google.com"> <i class="fa-brands fa-google-play fa-2x"></i> </a>
        <a href="https://www.apple.com"> <i class="fa-brands fa-app-store fa-2x"></i> </a>
      </div>
    </div>

    <div class="row copyright-p">
      <div class="col-md-12 copy text-center mx-auto copyright-section">
        <p class="copyright-thp">MENU © THP - Hiver 2024</p>
      </div>
    </div>
  </div>
</div>