<div class="container navbar-container">
  <div class="header-nav">
    <ul class="nav nav-title">
      <li class="nav-item "><%= link_to "RESTAURANTS", restaurants_path, class: "navnav nav-link navbar-text navbar-text-lg" %></li>
    </ul>
   
    <ul class="nav">
      <li class="nav-item">
        <%= link_to image_tag("LOGO_2.png", alt: "Logo", class: "navnav navbar-brand img-fluid logo-img"), root_path, class: "nav-link" %>
      </li>
    </ul>

    <div class="dropdown navnav nav-title">
      <% if user_signed_in? %>
        <a class="dropdown-toggle navnav-out navbar-text navbar-text-lg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          PROFILE
        </a>
      <% else %>
        <li class="nav-item">
          <%= link_to "LOG IN", new_user_session_path , class: "navnav navbar-text navbar-text-lg" %>
        </li>
      <% end %>
            
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "MY PROFILE", user_path(current_user), class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "LOG OUT", destroy_user_session_path, class: "navnav-out navbar-text", method: :delete, data: {turbo_method: :delete} %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
