<div class="container">
  <header class="d-flex justify-content-between py-3">
    <ul class="nav">
      <li class="nav-item"><%= link_to "RESTAURANTS", restaurants_path, class: "navnav nav-link navbar-text navbar-text-lg" %></li>
    </ul>
   
    <ul class="nav">
      <li class="nav-item">
        <%= link_to image_tag("LOGO_2.png", alt: "Logo", class: "navnav navbar-brand img-fluid logo-img"), root_path, class: "nav-link" %>
      </li>
    </ul>

    <div class="dropdown">
      <% if admin_signed_in? %>
        <a class="dropdown-toggle navnav-out navbar-text navbar-text-lg-out" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          ADMIN PROFILE
        </a>
      <% else %>
        <li class="nav-item">
          <%= link_to "LOG IN ADMIN", new_admin_session_path , class: "navnav navbar-text navbar-text-lg" %>
        </li>
      <% end %>
          
      <ul class="dropdown-menu">
        <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "MY PROFILE", admin_session_index_path(current_user), class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "EDIT INFOS", edit_admin_registration_path, class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "LOG OUT", destroy_admin_session_path, class: "navnav-out navbar-text", method: :delete, data: {turbo_method: :delete} %>
            </li>
          <% end %>
      </ul>
    </div>


    <div class="dropdown">
      <% if user_signed_in? %>
        <a class="dropdown-toggle navnav-out navbar-text navbar-text-lg-out" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          PROFILE
        </a>
      <% else %>
        <li class="nav-item">
          <%= link_to "LOG IN", new_user_session_path , class: "navnav navbar-text navbar-text-lg" %>
        </li>
      <% end %>
            
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "MY PROFILE", user_path(current_user), class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "EDIT INFOS", edit_user_registration_path, class: "navnav-out navbar-text" %>
            </li>
            <li class="nav-item">
              <%= link_to "LOG OUT", destroy_user_session_path, class: "navnav-out navbar-text", method: :delete, data: {turbo_method: :delete} %>
            </li>
          <% end %>
      </ul>
    </div>

    <%= link_to image_tag("DYS.png", alt: "Activer OpenDyslexic", style: "width: 60px; height: 60px;"), "#", id: "toggle-opendys", onclick: "activerOpenDyslexic();" %>

  </header>
</div>
