<div class="container">
  <header class="d-flex justify-content-between py-3">
    <ul class="nav">
      <li class="nav-item"><%= link_to "RESTAURANTS", restaurants_path, class: "navnav nav-link navbar-text navbar-text-lg" %></li>
    </ul>
   
    <ul class="nav">
      <li class="nav-item">
        <%= link_to image_tag("LOGO_2.png", alt: "Logo", class: "navnav navbar-brand img-fluid logo-img"), root_path, class: "nav-link" %>
      </li>
    </ul>

   <% if user_signed_in? || admin_signed_in? %>
        <div class="btn-group">
          <a class="dropdown-toggle navnav-out navbar-text navbar-text-lg-out" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_admin %>
              MY ADMIN PROFILE
            <% elsif current_user %>
             MY PROFILE
            <% end %>
          </a>

          <ul class="dropdown-menu">
            <li class="nav-item">
              <% if current_admin %>
                <%= link_to "MY PROFILE", admin_path(current_admin), class: "navnav-out navbar-text" %>
              <% elsif current_user %>
                <%= link_to "MY PROFILE", user_path(current_user), class: "navnav-out navbar-text" %>
              <% end %>
            </li>

            <li class="nav-item">
              <% if current_admin %>
                <%= link_to "EDIT INFOS", edit_admin_registration_path, class: "navnav-out navbar-text" %>
              <% elsif current_user %>
                <%= link_to "EDIT INFOS", edit_user_registration_path, class: "navnav-out navbar-text" %>
              <% end %>
            </li>

            <li class="nav-item">
              <% if current_admin %>
                <%= link_to "LOG OUT", destroy_admin_session_path, class: "navnav-out navbar-text", method: :delete, data: {turbo_method: :delete} %>
              <% elsif current_user %>
                <%= link_to "LOG OUT", destroy_user_session_path, class: "navnav-out navbar-text", method: :delete, data: {turbo_method: :delete} %>
              <% end %>
            </li>
          </ul>
      </div>

      <% else %>
      
     
   
        <ul>
          <li class="nav-item">
            <a class=" dropdown-toggle navnav nav-link navbar-text navbar-text-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              LOG IN
            </a>

            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to "USER", new_user_session_path , class: "navnav navbar-text navbar-text-sm" %>
              </li>
              <li class="nav-item">
                <%= link_to "ADMIN", new_admin_session_path , class: "navnav navbar-text navbar-text-sm" %>
              </li>
            </ul>
          </li>
        </ul>

   
    
    


      <% end %>
  </header>
</div>
