<div class="coontainer">
  <div class="heading">
    LOG IN
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form">
      <%= f.email_field :email, class: "input", placeholder: "E-mail", required: true %>
      <%= f.password_field :password, class: "input", placeholder: "Password", required: true %>
      <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
      <%= f.submit "LOG IN", class: "login-button" %>
    </div>
    <center><%= render "devise/shared/links" %></center>
  <% end %>
</div>

