<br>
<br>
<center><h1>WHERE DO YOU WANNA EAT TODAY ?</h1></center>
<br>
<br>
<center><h2>PARIS</h2></center>
<br>
<center><a>Venez découvrir les cartes du moment de tous vos restaurants préférés ! Grâce à Menu,
vous saurez tout le temps ce qui se prépare en cuisine!</a></center>
<br>
<br>
<br>
<div class="row-resto">
  <% @restaurant.each do |restaurant| %>
    <div class="col-index-resto">
      <div class="card-resto">
        <div class="first-content">
          <%= link_to restaurant do %>
            <%= image_tag "Aca.jpeg", class: "card-resto-img-top", alt: "Restaurant Image" %>
          <% end %>
          <h2 class="resto-title"><%= Faker::Restaurant.name %></h2> 
        </div>
        <div class="second-content">
          <%= link_to restaurant do %>
            <%= image_tag "Aca2.jpeg", class: "card-restoo-img-top", alt: "Restaurant Image" %>
          <% end %>
      </div>
      </div>
    </div>
  <% end %>
</div>


<br>
<br>
<br>
  
