<% content_for :title, "Liste des restaurants" %>

<h1 class="h1-resto">QU'EST-CE QU'ON MANGE AUJOURD'HUI ?</h1>
<p class="p-resto"> Venez et découvrez les menus à jour de vos restaurants préférés ! Grâce à Menu, vous saurez toujours ce qu'il se passe en cuisine !</p>

<div class="form-filter d-flex mt-5 ms-4">
  <%= form_tag restaurants_path, method: :get do %>
    <%= label_tag :city, "Choisis ta ville :", class: "text-filter" %>
    <%= select_tag :city, options_for_select([["Aucune ville", ""]] + City.pluck(:city_name), params[:city]), class: "text-filter", id: "select-filter" %> <%# .pluck return all the value of column city_name from table city %>
    <%= submit_tag "Filtrer", class:"btn btn-up-show" %>
  <% end %>
</div>

<div class="row-resto d-flex justify-content-around flex-wrap">
  <% @restaurants.each do |restaurant| %>
    <article class="card">
      <div class="card-img-resto d-flex flex-wrap">
        <%= image_tag "food 2.avif", class: "card-img-resto mb-2", alt: "Photo de couverture du restaurant" %>
      </div>

      <div class="project-info d-flex flex-wrap">
        <div class="flex justify-content-center">
          <div class="project-title"> <%= restaurant.restaurant_name %> </div>
        </div>
        <span class="lighter">
          Venez découvrir l'univers de notre restaurant ! Cliquez pour découvrir notre menu et nos informations.
          <%= link_to restaurant do %>
            <button class="button-card"> Découvrir </button>
          <% end %>
        </span>
      </div>
    </article>
  <% end %>
</div>

<div class="btt">
  <a href="#">
    <button class="button-btt">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </button>
  </a>
</div>