FORMULAIRE ADD RESTAURANT


<%= form_with model: @restaurant, url: restaurants_path, method: "post" do |form| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <div class="form-group mb-3 mt-3 col-sm">
    <%= form.label :restaurant_name, 'Nom du Restaurant' %>
    <%= form.text_field :restaurant_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :city_id, "Ville" %>
    <%= form.collection_select :city_id, City.all, :id, :city_name, prompt: "Choisisez votre ville" %>
  </div>

  


  <div class="actions text-center">
    <%= form.submit "Ajoutez votre Restaurant", class:"btn btn-success mt-3"%>
  </div>
<% end %>