<% content_for :title, "Création de restaurant" %>

<h1 class="h1-resto">FORMULAIRE DE CRÉATION DE RESTAURANT</h1>

<%= form_with model: @restaurant, url: restaurants_path, method: "post", html: {multipart: true} do |form| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group mb-3 mt-3 col-sm">
    <%= form.label :restaurant_name, 'Nom du restaurant' %>
    <%= form.text_field :restaurant_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :city_id, "Ville" %>
    <%= form.collection_select :city_id, City.all, :id, :city_name, prompt: "Choisis ta ville" %>
  </div>

  <div class="form-group mb-3 mt-3 col-sm">
    <%= form.label :image, 'Photo du restaurant' %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit "Ajouter", class:"btn btn-success mt-3"%>
  </div>
<% end %>


<div class="btt">
  <a href="#">
    <button class="button-btt">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </button>
  </a>
</div>
