<% content_for :title, "Le restaurant" %>

<h1 class="h1-resto"><%= @restaurant.restaurant_name %></h1>
<p class="p-resto"><%= @restaurant.city.city_name %></p>

<div class="show-content">
  <section class="menu-img">
    <% if @restaurant.image.attached? %>
      <%= image_tag @restaurant.image, alt: 'Photo du menu du restaurant', class:"image_tag_upld" %>
    <% else %>
      <p class="p-contact"> PAS ENCORE DE MENU </p>
    <% end %>

    <div class="upload-img">
      <% if current_admin == @restaurant.admin %>
          <%= form_tag restaurant_images_path(@restaurant), multipart: true do %>
            <%= file_field_tag :image, class:"btn mt-3 btn-up-show" %>
            <%= submit_tag "TÉLÉCHARGER", class:"btn mt-3 btn-up-show" %>
          <% end %>

          <%= form_with(model: [:id, @restaurant], local: true, url: restaurant_path, method: "delete") do |form| %>
            <%= form.submit "Supprimer", class: "btn mt-3 btn-del-show" %>
          <% end %>
      <% end %>
    </div>
  </section>

  <section class="infos-resto">
    <p class="description">
      Bienvenue chez <%= @restaurant.restaurant_name %> ! Plongez dans une expérience culinaire authentique où les saveurs du Mexique vous transportent instantanément. Dégustez nos délicieux tacos, enchiladas et fajitas, accompagnés de margaritas rafraîchissantes. Notre ambiance vibrante et nos plats savoureux vous promettent une soirée inoubliable. Venez découvrir la vraie essence du Mexique chez nous !
    </p>

    <%= form_with(model: [@restaurant, @reservation], url: restaurant_reservations_path(@restaurant), method: :post) do |form| %>
      <div class="field">
        <%= form.label "Nombre de personnes" %>
        <%= form.number_field :number, min: 1, max: 10, class: "form-control" %>
      </div>
      
      <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date, class: "form-control" %>
      </div>
    
      <div class="field">
        <%= form.label "Horaire" %>
        <%= form.time_field :time, class: "form-control" %>
      </div>
    
      <%= form.submit "RÉSERVER UNE TABLE", class: "btn btn-book-show" %>
    <% end %>
    
  </section>
</div>

  <section class="show-comments">
    <h2>Commentaires</h2>
      <% @comment.each do |comment| %>
        <div>
          <p><%= comment.body %></p>
          <% if current_user == comment.user %>
            <%= button_to "Supprimer ce commentaire", restaurant_comment_path(@restaurant, comment), method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
          <% end %>
        </div>
      <% end %>

    <% if current_user %>
      <h2>Ajoute un nouveau commentaire</h2>
      <%= render partial: "comments/form", locals: { restaurant: @restaurant } %>
    <% end %>
  </section>


  <% if current_user %>
    <%= button_to "Favoris", favorites_path, params: {favorite: {restaurant_id: @restaurant.id}}, method: :post %>
    <%= @restaurant.favorites.count %>
  <% end %>


  <div class="btt">
    <a href="#">
      <button class="button-btt">
        <svg class="svgIcon" viewBox="0 0 384 512">
          <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
        </svg>
      </button>
    </a>
  </div>