<!DOCTYPE html>
<html>
<head>
  <title>
  
  </title>
  

</head>
<body>

<h1 class="h1-resto"><%= @restaurant.restaurant_name %></h1>

<% if @restaurant.image.attached? %>
  <%= image_tag @restaurant.image, alt: 'image', class:"image_tag_upld" %>
<% else %>
  <p class="p-contact"> Vous n avez pas encore de Menu </p>
<% end %>

<% if current_admin == @restaurant.admin %>
  <div class="upload2">
    <%= form_tag restaurant_images_path(@restaurant), multipart: true do %>
      <%= file_field_tag :image %>
      <%= submit_tag "UPLOAD" %>
    <% end %>
  </div>

  <%= form_with(model: [:id, @restaurant], local: true, url: restaurant_path, method: "delete") do |form| %>
    <%= form.submit "Supprimer", class: "btn btn-success mt-3" %>
  <% end %>
<% end %>

<div class="infos">
  <p class="date-time">
    <%= @restaurant.restaurant_name %>
  </p>
  <p class="description">
    Bienvenue chez "Casa de Sabor" ! Plongez dans une expérience culinaire authentique où les saveurs du Mexique vous transportent instantanément. Dégustez nos délicieux tacos, enchiladas et fajitas, accompagnés de margaritas rafraîchissantes. Notre ambiance vibrante et nos plats savoureux vous promettent une soirée inoubliable. Venez découvrir la vraie essence du Mexique chez nous !
  </p>
</div>



<button type="button" class="btnnn btnnn-primary btnnn-lg">RÉSERVEZ UNE TABLE !</button>

</body>
</html>
