<% content_for :title, "Création de ville" %>

<%= form_with model: @city, url: cities_path, method: "post" do |form| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <div class="form-group mb-3 mt-3 col-sm">
    <%= form.label :restaurant_name, 'Restaurant Name' %>
    <%= form.text_field :city_name, class:"form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit "Add", class:"btn btn-success mt-3"%>
  </div>
<% end %>